html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: pink;
}

.parent {
  font-size: 10px;
  text-align: center;
  margin: 20px;
}

.child1 {
  font-size: 5rem;
}

.child2 {
  font-size: 4rem;
}

.parent-2 {
  font-size: 70px;
  display: flex;
  justify-content: space-between;
  font-size: ;

  height: 600px;
  width: 90vw;
  text-align: center;
  margin: 20px auto;
}

.char-img {
  width: 80%;
  height: 80%;
  margin: 10px;
}
