html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: pink;
}

.parent {
  font-size: 10px;
  text-align: center;
  margin: 20px;
}

.child1 {
  font-size: 5rem;
}

.child2 {
  font-size: 4rem;
}

.parent-2 {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

.character {
  font-size: 3rem;
  border: 3px solid;
  border-color: lightskyblue;
  height: 300px;
  width: 500px;
  text-align: center;
  margin: 30px;
}

.image {
  width: 10%;
  height: 50%;
}
