html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: pink;
}

.parent {
  font-size: 10px;
  text-align: center;
  margin: 20px;
  font-family: bungee spice;
}

.child1 {
  font-size: 5rem;
}

.child2 {
  font-size: 4rem;
}

.child2::before {
  content: "\267F";
}

.parent-2 {
  font-size: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  height: 550px;
  width: 90vw;
  text-align: center;
  margin: 20px auto;
}

.char-img {
  width: 200px;
  min-width: 20vw;
  max-width: 100vw;
  height: 350px;
  margin: 10px;
  border: solid white 1px;
  box-shadow: 5px 5px 5px 5px;
  transition: all 0.4s;
  opacity: 0.5;
}

.character {
  font-family: Anton;
}

.char-img:hover {
  transform: scale(1.05);
  opacity: 1;
}

.description {
  width: 400px;
  margin: 5px;
}

#batman {
  opacity: 0.2;
  transition: all 0.4s;
}

#batman:hover {
  transform: scale(1.1);
  opacity: 1;
  outline: 5px solid black;
}

#superman {
  transition: 1s;
}

#superman:hover {
  transform: rotate(360deg);
}

#head {
  animation: LtoR linear 9s infinite;
}

@keyframes LtoR {
  0% {
    left: 0%;
  }
  100% {
    left: calc(100%-100px);
  }
}

#giant {
  animation: fade 4s;
}

@keyframes fade {
  0% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}
